<div class="logo">
    <div class="simple-text">            
        <div class="logo-img">
            <img src="/assets/img/Sayem_Logo1.png" />
        </div>
        Brute Force
        <br/>Totally client side process
    </div>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <div style="text-align: justify;padding:10px">
                No Wordlist, no server side process. Wordlist will create on the fly with very less memory use.
                <br>
                <br>Please try with your own file. Do not try someone's else file. If you try with others person file then try
                with your own risk. Developer will not responsible for any consequences
            
        </div>

    </div>
</div>