<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Select a file </h4>
                        <input type="file" required id="file" accept="application/pdf" placeholder="PDF src" (change)="onFileSelected($event)">
                    </div>
                    <div class="card-content">
                            File will not upload, this is totally client side process.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="indigo">
                        <h4 class="title">Password Combinations</h4>
                        <p class="category">Default: No Idea [will consider all the characters(Capital, Small and Special) and numbers]</p>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let option of options">
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" (change)="GetPossiblePasswordCount()" name="options" value="{{option.value}}" [(ngModel)]="option.checked"
                                                        />
                                                    </label>
                                                </div>
                                            </td>
                                            <td>{{option.name}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="indigo">
                        <h4 class="title">Password Length</h4>
                        <p class="category">Default: Min = 1 and Max = 6 </p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Minimum Password Length</label>
                                    <input type="number" class="form-control ng-touched" required name="_pwdMinLength" min="1" max="30" [(ngModel)]="_bruteForce._pwdMinLength"
                                        [value]="_bruteForce._pwdMinLength" (input)="_bruteForce._pwdMinLength = $event.target.value"
                                        (change)="GetPossiblePasswordCount()">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Maximum Password Length</label>
                                    <input type="number" class="form-control ng-touched" min="1" max="30" required name="_pwdMaxLength" [(ngModel)]="_bruteForce._pwdMaxLength"
                                        [value]="_bruteForce._pwdMaxLength" (input)="_bruteForce._pwdMaxLength = $event.target.value"
                                        (change)="GetPossiblePasswordCount()">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Total Password</label>
                                    <input type="text" value="{{_bruteForce._totalPwd.toLocaleString('en-us', {minimumFractionDigits: 0})}}" class="form-control"
                                        disabled>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header " data-background-color="purple">
                    Click the start button to find the password
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating">
                                <label class="control-label">Thread [Caution: More thread consume more memory]</label>
                                <input type="number" required class="form-control ng-touched" required name="_threadCount" min="1" max="12" [(ngModel)]="_bruteForce._threadCount"
                                    [value]="_bruteForce._threadCount" (change)="ThreadCountChange()" (input)="_bruteForce._threadCount = $event.target.value">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating">
                                <button class="btn btn-primary pull-right" [disabled]="!_isPasswordRequired" (click)="Run()">Start</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="after-start" [hidden]="!_showPasswordSection" >
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-chart" data-background-color="orange">
                            <div class="content">
                                <div class="card-content">
                                    Total Password Applied : {{_bruteForce._pwdCount}}
                                </div>
                                <div class="card-content">
                                    Password per minute: {{_bruteForce._perMinutePwd}}
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-chart" attr.data-background-color="{{_bruteForce._passwoprdTitleBoxColor}}">
                            <div class="content" style="text-align: center">
                                <h4 class="card-title"> {{_bruteForce._passwoprdTitleText}}</h4>
                                <p class="card-content">
                                    {{_bruteForce._currentPasswoprd}}
                                </p>
                            </div>
                        </div>
                        <div class="card-content">
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-chart" data-background-color="orange">
                            <div class="content">
                                <p class="card-content">
                                    Time Elapsed: {{_bruteForce._elapsed}}
                                </p>
                                <p class="card-content">
                                    Remaining Time: {{_bruteForce._remainingTime}}
                                </p>
                            </div>
                        </div>
                        <div class="card-content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="blue">
                            Thread 1
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread1Pwd}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="indigo">
                            Thread 2
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread2Pwd}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="purple">
                            Thread 3
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread3Pwd}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="pink">
                            Thread 4
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread4Pwd}}
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="red">
                            Thread 5
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread5Pwd}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            Thread 6
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread6Pwd}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">



                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="teal">
                            Thread 7
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread7Pwd}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="green">
                            Thread 8
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread8Pwd}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="amber">
                            Thread 9
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread9Pwd}}
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="brown">
                            Thread 10
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread10Pwd}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="lime">
                            Thread 11
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread11Pwd}}
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="blue-grey">
                            Thread 12
                        </div>
                        <div class="card-content">
                            {{_bruteForce._Thread12Pwd}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>